{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}Edit Location{% else %}Add Location{% endif %} - CBA IMS{% endblock %}
{% block page_title %}{% if object %}Edit Location: {{ object.name }}{% else %}Add New Location{% endif %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-end mt-4">
                        <a href="{% url 'organizations:location_list' %}" class="btn btn-secondary me-2">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
